<a href="https://colab.research.google.com/github/tarunsharma00106/datascience/blob/main/python_data_analysis_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# numeric python or numpy [alias] : main thing is the numpy array, python list is same as array.
import numpy as np
my_list1=[1,2,3,4,5,"John", True]
my_list2=[6,7,8,my_list1]
print(my_list2)

[6, 7, 8, [1, 2, 3, 4, 5, 'John', True]]

In [14]:
#create a numpy array
np1=np.array([1,2,3,4,5])

In [15]:
print(np1)

[1 2 3 4 5]

In [16]:
print(np1[0])

1